<!DOCTYPE html>
<html>
  <head>
    <title>BeersOnRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <header>
  <h1>Beers On Rails </h1>
  <nav>
  <ul>
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'Brewers', companies_path %></li>
  <li><%= link_to 'Beers', beers_path %></li>
  </ul>
  </nav>
  </header>
    <%= yield %>
  </body>
</html>
